head
    link(rel="stylesheet" type="text/css" href='style.css')
    title Result
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/messagepart.js')