doctype html
html
  include head.pug
  body
    h1 Resultat
    p Här ser du resultat från de olika vallokalerna!
    div
    ol(id="place") VALLOKAL:
    ul(id="gang") PARTI:
    ul(id="antal") ANTAL RÖSTER: